<div class="row padding-tb min-height  background-gray" role="tabpanel">
  <div class="col-md-10 col-md-offset-1 col-xs-12 background-white border-radius">
    <%= link_to  edit_manager_setting_path(id: Setting.last.id), 
     class: "black grow-link large bold mtd-small inline-block" do %>
      <i class="fa fa-cog" aria-hidden="true"></i> 更改設定
    <% end %>    
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation">
      	<a href="#home" aria-controls="home" role="tab" data-toggle="tab">網站設定</a>
      </li>
      <li role="presentation"  class="active">
        <a href="#carousel" aria-controls="carousel" role="tab" data-toggle="tab">首頁輪播圖</a>
      </li>
      <li role="presentation">
        <a href="#about" aria-controls="about" role="tab" data-toggle="tab">關於圓滿生機</a>
      </li>
      <li role="presentation">
        <a href="#Q-and-A" aria-controls="Q-and-A" role="tab" data-toggle="tab">Q ＆ A</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <!-- 目前設定 -->
      <div role="tabpanel" class="tab-pane" id="home">
        <h3>目前設定：</h3><br>
        <div>運費： <%= @setting.shipping_cost %></div><br>
        <div>免運門檻： <%= @setting.shipping_free %></div><br>
        <div>聯絡電話： <%= @setting.phone %></div><br>
        <div>客服信箱： <%= @setting.email %></div><br>
        <div>LINE： <%= @setting.line %></div><br>
      </div>
      <!-- 目前輪播圖 -->
      <div role="tabpanel" class="tab-pane active" id="carousel" >
        <%= render 'products/carousel' %>
        <div class="inline-flex">
          <div class="small-carousel center">
            <h3>IMAGE 1</h3>
            <%= image_tag(@setting.carousel1) %>
            <h4><%= link_to "連結", "#{@setting.carousel1_link}", class: "red"  %></h4>
          </div>
          <div class="small-carousel center">
            <h3>IMAGE 2</h3>
            <%= image_tag(@setting.carousel2) %>
            <h4><%= link_to "連結", "#{@setting.carousel2_link}", class: "red"  %></h4>
          </div>
          <div class="small-carousel center">
            <h3>IMAGE 3</h3>
            <%= image_tag(@setting.carousel3) %>
            <h4><%= link_to "連結", "#{@setting.carousel3_link}", class: "red"  %></h4>
          </div>
        </div>
      </div>
      <!-- 目前關於我們內容 -->
      <div role="tabpanel" class="tab-pane" id="about">
        <div class="article-description">
          <%= raw(@setting.about_us) %>
        </div>
      </div>
      <!-- 目前Q & A -->
      <div role="tabpanel" class="tab-pane" id="Q-and-A">
        <div class="article-description">
          <%= raw(@setting.q_and_a) %>
        </div>        
      </div>
    </div>
  </div>
</div>


<!-- bootstrap tap分頁 -->
<!-- 修復tab分頁時輪播圖寬高不正確問題 -->
<%= render 'js/bootstrap_tab' %>

