<div class="checkout-order clearfix">
  <h2>
  	訂單明細
  	<span class="gray">(<%= t("orders.order_state_manager.#{@order.aasm_state}")%>)</span>
  </h2>

  <%= link_to "買賣留言板", message_board_manager_order_path(@order), class: "under-h2" %>
  
  <%= render "manager/orders/state_option", order: @order %>
  
  <%= render "orders/order_infos_table" %>

  <h2> 其他資訊 </h2>

  <%= render 'trade_infos', order: @order %>

</div>
