<%= render "common/error_messages", var: @product %>
<h2>商品編輯</h2>
<%= form_for [:manager, @product] do |f| %>

	<% if @photo.present? %>
		<span>目前商品圖片</span>
		<%= image_tag(@photo.image.thumb.url) %>	
	<% end %>	

	<div class="form-group">
		<%= f.fields_for :photo do |photo_form| %>
			<%= photo_form.label :image, "更換或上傳商品圖片" %>
			<%= photo_form.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
			<%= photo_form.hidden_field :image_cache %>
		<% end %>	
	</div>

	<HR>

  <%= render 'form', f: f %>


	<%= f.submit "送出", data: { disable_with: "Submitting..." }, class: "btn btn-primary" %>

<% end %>	