<div class="row">
<div class="col-md-10 col-md-offset-1  border-n mt md">
  <%= render "common/error_messages", var: @product %>
  <h2>商品上架</h2><HR>
  <%= form_for [:manager, @product] do |f| %>
  
  	<div class="form-group">
  		<%= f.fields_for :photo do |photo_form| %>
  			<%= photo_form.label :image, "商品圖片"%>
  			<%= photo_form.file_field :image, accept: 'image/jpeg,image/gif,image/png', onchange: "loadFile(event)"    %>
  			<img id="output" />
          
        <!-- 顯示欲上傳圖片 -->  
  			<script>
          var loadFile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
          };  
  			</script>

  			<%= photo_form.hidden_field :image_cache %>
  		<% end %>	
  	</div>
  
  	<HR>
  
  	<%= render 'form', f: f %>
  
  	<%= f.submit "送出", data: { disable_with: "上傳中..." }, class: "btn-normal" %>
  
  <% end %>	
</div>  
</div>
</div>