<div class="row md">

  <div class="col-md-12 col xs-12">
  	<h2>文章列表</h2>

		<!-- 分頁 -->
    <%= paginate @articles %>

    <table class="table  table-hover">
    	<thead>
    		<tr>
    			<th>文章主圖</th>
    			<th>標題</th>
    			<th>選項</th>
    		</tr>
    	</thead>
			<tbody>
    		<% @articles.each do |article| %>
    			<tr>
    				<td width="112"><%= image_tag(article.article_img.thumb.url, class: "manager-article-img") %></td>
    				<td>
              <%= link_to article.title, manager_article_path(article), class: "normal-link small" %>
              <% if article.sticky != 0 %>
                <div class="red small">
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  已置頂(<%= article.sticky %>)
                </div>
              <% end %>  
            </td>

    				<!-- options -->
    				<td class="product-options">
    					<div>
    						<%= link_to edit_manager_article_path(article), class: "green" do %>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  編輯
                <% end %>  
    					</div>
                <% if article.sticky != 0 %>
                  <div><%= link_to "取消置頂", sticky_cancel_manager_article_path(article), 
                  method: :post %></div>
                <% else %>
                  <div>
                    <%= link_to "置頂1", sticky_manager_article_path(article, position: 1), 
                        method: :post %>                                           
                  </div>
                  <div>
                   <%= link_to "置頂2", sticky_manager_article_path(article, position: 2), 
                      method: :post %>                           
                  </div>                 
                <% end %>  
                <div>
                  <%= link_to "刪除", manager_article_path(article), method: :delete,
                    data: { confirm: "確定刪除 #{article.title}?" }, class: "gray small" %>
                </div>
    				</td>
    			</tr>
    		<% end %>	
    	</tbody>			  	
    </table>

    <hr>

		<!-- 分頁 -->
    <%= paginate @articles %>    	
  </div>
</div>    
