<div class="checkout-order clearfix">
  <h2> 訂單明細 </h2>

<!--   <%= link_to "買賣留言板", message_board_account_order_path(@order.token), class: "under-h2" %>
 -->  <%= payment_info_link(@order) %>

  <%= render 'state_option', order: @order %>

  <%= render 'order_infos_table' %>


  <% if dead?(@order) %>
    <p class="red center">超過付款期限，訂單已失效</p>
  <% else %>  
    <% if !@order.is_paid? %>
      <% case  @order.aasm_state %>
      <% when "order_cancelled" %>
        <p class="text-center">此訂單已被取消</p>
      <% when "number_received" %>
        <p class="text-center">已取號，等待付款.....</p>
      <% when "payment_fail" %>
        <p class="text-center">付款失敗，請建立新訂單重新購買</p>
      <% else %>
        <div class="select-pay center">
          請選擇付款方式
        </div>

        <div class="pay-with">
          <%= render "pay_with_credit_card", order: @order %>
        </div>
  
        <div class="pay-with">
          <%= render "spgateway", order: @order %>
        </div>      
      <% end %> 
    <% else %>
      <p class="text-center">此訂單已完成付款</p>
    <% end %>  
  <% end %>
</div>
