<table class="cart-table table table-striped">
  <thead>
    <tr class="lighter small">
      <th class="th"><span class="visible-xs-inline">PRODUCT</span></th>
      <th class="th"><span class="hidden-xs ">PRODUCT</span></th>
      <th class="th ">PRICE</th>
      <th class="th ">AMOUNT</th>
    </tr>
  </thead>
  <tbody class="td-body">
    <% @items.each do |product| %>
      <tr class="visible-xs xs-tr">
        <td colspan="4">
         <h4 class="center"> 
          <%= link_to(product.title, product_path(product), class: "normal-link bold") %>
         </h4> 
        </td>
      </tr>
      <tr>
        <td class="td-image">
          <%= link_to delete_cart_item_carts_path(product_id: product.id, product_title: product.title), 
          method: :delete, class: "remove-cart-item" do %>
            <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>  
          <%= image_tag(product.photo.image.thumb.url, class: "cart-image") %>
        </td>
        <td class="td-item-info">
          <!-- 特價提示 -->
          <% if product.special? %>
            <span class="smallest red block">
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              特價商品
            </span>
          <% end %>
          <!-- 特價提示end -->

          <%= link_to(product.title, product_path(product), class: "normal-link bold hidden-xs") %>
          <%= form_tag({ controller: "carts", action: "refresh"}, method: :post, remote: true) do %>
            <div class="lighter">

            	<span class="hidden-xs">數量 ： </span>
              <span> <span class="visible-xs-inline small gray">x</span>
                <%= select_tag(:quantity, options_for_select(product_quantity_range(product),
            	  find_cart_items_quantity(@cart_items_hash, product)),
                 onchange: "this.form.submit()") %>
              </span>  
					  </div>
					  <%= hidden_field_tag :product_id, product.id %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<% end %>  	
        </td>
        <td class="td-price ">
          <div class="inline-block small lighter mr <%= product.special? ? "red" : "gray" %>">$</div> 
          <div class="break-word inline-block">
            <%= render_price_in_cart(product) %>
          </div>
        </td>
        <td class="td-sum">
          <div class="inline-block small lighter mr gray">$</div>
          <div class="inline-block break-word"><%= sum(@cart_items_hash, product) %></div>
        </td>
      </tr>
    <% end %>
		<tr>
			<td colspan="4" class="cart-message">
  		  購物車內共有<span class="cart-items-count"><%= current_cart.items.count %></span>項商品，
  		  消費總金額 NT$ 
  		  <span class="cart-price-total"><%= render_cart_total_price(@items, @cart_items_hash) %></span><br>
        
        <span class="small red"><%= "單筆訂單滿#{@setting.shipping_free}免運" %></span class="small red">



        <div id="cart-bottom-botton" class="clearfix">
          <%= link_to products_path,  class: "back button-1 pull-left" do %>
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <span>繼續選購</span>
          <% end %>
               
          <%= link_to checkout_carts_path, method: :get, class: "btn-normal pull-right" do %>
            <i class="fa fa-cart-arrow-down fa-2x" aria-hidden="true"></i>
            <span class="">前往結帳</span>
          <% end %>
        </div>

  		</td>
		</tr>
  </tbody>
</table>