<div class="row">
  <div class="col-md-12">

  	<h2> 購物明細 </h2>
		<table class="table table-bordered table-striped">
		  <thead>
		    <tr>
		      <th>商品明細</th>
		      <th>單價</th>
		      <th>數量</th>
		      <th>小計</th>
		    </tr>
		  </thead>
		  <tbody>
		    <% current_cart.items.each do |product| %>
		      <tr>
		        <td>
		          <%= link_to(product.title, product_path(product)) %>
		        </td>
		        <td>
		        	<%=  product.price %>
		        </td>
		        <td>
		        	<%= find_cart_items_quantity(@cart_items_hash, product) %>
		        </td>
		        <td>
		          <span class="small"> NTD</span>
		          <%=  product.price * find_cart_items_quantity(@cart_items_hash, product) %>
		        </td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>

		<hr>

		<h2>訂單資訊</h2>

		<div>
			<%= simple_form_for @order do |f| %>
				<%= f.simple_fields_for :info do |info_form| %>
					<div class="form-group col-md-6 col-xs-6">
						<%= info_form.input :shipping_name %>
					</div>
					<div class="form-group col-md-6 col-xs-6">
						<%= info_form.input :shipping_address %>
					</div>
				<% end %>
				
				<div>
					<%= f.submit "生成訂單", class: "bitton-1", data: { disable_with: "訂單送出中..."} %>
				</div>	
			<% end %>
		</div>

	</div>
</div>		