<div class="cart-page row">
	<h2> 你的購物車 </h2>

	<div class="col-md-12 col-sm-12 cart-info-title">
		<div id="info">商品資訊</div>
		<div id="price">價格</div>
	</div>
	
	<div class="col-md-12 col-sm-12 cart-info">
		<% current_cart.items.each do |product| %>
					<%= link_to "#", class: "cart-item-delete" do %>
				<i class="fa fa-times" aria-hidden="true"></i>
				<span>刪除此商品</span>
			<% end %>

			<div class="info-body">
				<div class="image">
					<%= image_tag(product.photo.image.thumb.url, class: "thumbnail cart-image blur") %>
				</div>	
				<div class="title">						
					<%= link_to product.title, product_path(product) %>
				</div>
				<div class="price">	
					<%= "#{product.price}" %>
				</div>
			</div>
		<% end %>

		<div class="cart-message">
				購物車內共有<span class="cart-items-count"><%= current_cart.items.count %></span>項商品，
				消費總金額 NTD $ <span class="cart-price-total"><%= render_cart_total_price(current_cart) %></span>
		</div>
	</div>		
	
	<div class="clearfix"></div>

	<div id="note">
		<span id="note-title">購物須知：</span>	<br>
		<div id="note-body">
			<span><i class="fa fa-caret-right" aria-hidden="true"></i> 每筆訂單需加收運費xx元整</span><br>
			<span><i class="fa fa-caret-right" aria-hidden="true"></i> 單筆訂單消費滿xx元可享運費全免</span><br>
			<span><i class="fa fa-caret-right" aria-hidden="true"></i> 運送地區僅限台澎金馬</span><br>
			<span>
				<i class="fa fa-caret-right" aria-hidden="true"></i>
				 更多訊息請詳見 - <%= link_to "關於本店", "#" %>
			</span>
		</div>
	</div>

	<hr>

	<%= link_to products_path,  class: "button-1 pull-left" do %>
		<i class="fa fa-arrow-left" aria-hidden="true"></i>
		<span>繼續選購</span>
	<% end %>


	<%= link_to checkout_carts_path, method: :post, class: "button-1 pull-right" do %>
		<span>確認結帳</span>
		<i class="fa fa-arrow-right" aria-hidden="true"></i>
	<% end %>
</div>	