			<% @products.each do |product| %>
				<div class="product-itme  ">
					<%= link_to product_path(product),class: "item-image" do %>
					<%= image_tag(product.photo.image.medium.url, alt: product.title, title: product.title) %>
					<% end %>	</br>
					<div class="product-item-info center">
						<%= link_to product.title, product_path(product), class: "product-item-title" %>
		<!-- 		<div class="gray2"><%= product.category.name %></div>
 		--> 		<div class="product-item-price"><span class=" bold small"><%= "NT$#{product.price}" %></span></div>
 						<div class="center">
 							<%= link_to  "view", product_path(product), class: "normal-link" %> / 
 							<% if product.quantity > 0 %>
 								<%= link_to add_to_cart_product_path(id: product.id, quantity: 1), method: "post" do %>
 									<i class="fa fa-shopping-cart green large"></i>
								<% end %>
							<% else %>	
								<span class="small gray1">缺貨中...</span>
							<% end %>	
 						</div>
					</div>
				</div>
			<% end %>
