<div class="cener" id="products-list">	
	<% @products.each do |product| %>
		<div class="product-itme ">
			<%= link_to product_path(product),class: "item-image" do %>
				<%= image_tag(product.photo.image.medium.url, alt: product.title, title: product.title) %>
			<% end %>	</br>
			<div class="product-item-info center">
				<%= link_to product.title, product_path(product), class: "product-item-title" %>
 		 		<div class="product-item-price"><span class=" bold small"><%= "NT$#{product.price}" %></span></div>
 				<div class="center">
 					<%= link_to  "view", product_path(product), class: "normal-link" %> / 
						<!-- ajax加入購物車 -->
 					<% if product.quantity > 0 %>
						<i class="fa fa-shopping-cart green large bt add_to_cart" data-product-id="<%= product.id %>"></i>

					<% else %>	
						<span class="small gray1">缺貨中...</span>
					<% end %>	
 				</div>
			</div>
		</div>
	<% end %>
</div>
