<div class="row">
	<div class="categories col-md-2 col-sm-2 hidden-xs">
		<div><%= link_to "所有產品", categories_path, class: "normal-link bold" %></div>
		<hr>
			<div><%= link_to "特價商品", categories_path(on_sale: true), class: "red" %></div>
		<hr>
		<% @categories.each do |category| %>
			<div>
				<%= link_to category.name , category_path(category), class: "normal-link bold" %>
				<hr>
			</div>
		<% end %>
	</div>

	<div class="product-items col-md-10  col-sm-10 col-xs-12">

		<h2 class="background width100"><span><%= @title %></span></h2>
		<div id="product-delegate">
			<%= render 'products' %>
		</div>
		
	</div>	

</div>