<!-- 輪撥 -->

<div id="myCarousel" class="carousel slide"  data-ride="carousel">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>   
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner carousel-size">
        <div class="item active">
		  <a href=<%= @setting.carousel1_link %> >
            <%= image_tag(@setting.carousel1, alt: "First slide", class: "carousel-img" ) %>
          </a>
        </div>
        <div class="item">
          <a href=<%= @setting.carousel2_link %> >
		        <%= image_tag(@setting.carousel2, alt: "Second slide", class: "carousel-img" ) %>
          </a>              
        </div>
        <div class="item">
          <a href=<%= @setting.carousel3_link %> >
		        <%= image_tag(@setting.carousel3, alt: "Third slide", class: "carousel-img" ) %>
           </a> 
        </div>

    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
</div>

<!-- 輪撥測試 -->
