<div class="products-page for-lg">

<div class="hidden-xs">
	<%= render 'carousel' %>
</div>


<!-- 置頂資訊 -->
<div id="top-articles-box">
	<div class="row">
	
		<!-- 置頂1 -->
		<%= link_to '#', class: "white-link opacity-link" do %>
			<div class="col-md-7 col-xs-12 article-1 top-articles" style="background:url(<%= image_url(@a.article_img.url) if @a.present? %>)">
				<span class="date"><%= @a.created_at.to_s(:zh) %></span>
				<span class="article-1-title"><%= @a.title %></span>
			</div>
		<% end %>


		<div class="col-md-5 col-xs-12">
			<div class="row">

				<!-- 置頂2 -->
				<%= link_to '#', class: "white-link opacity-link" do %>
					<div class="col-md-11 col-md-offset-1 col-xs-12 article-2 top-articles" style="background:url(<%= image_url(Article.first.article_img.url) if Article.first.present? %>)">
						<span class="date"><%= Article.first.created_at.to_s(:zh) %></span>
						<span class="article-2-title"><%= Article.first.title %></span>
					</div>
				<% end %>	

				<div class="col-md-11 col-md-offset-1 col-xs-12">
					<%= link_to "#", class: "block-link" do %>
						<span>觀看更多資訊</span>
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
					<% end %>	
				</div>

			</div>
		</div>
	</div>
</div>


<div class="padding-rl-40">

	<!-- 資訊 -->
	<div class="mtd-small ">
		<h4 class="inline-block">資訊</h4>
		<h5 class="inline-bloc pull-right"><%= link_to total_articles_products_path, class: "gray-link" do %>
			<span>看更多</span>
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		<% end %>
		</h5>
		<%= render 'articles' %>
	</div>
 

	<div class="row">
		
		<!-- category -->
		<div class="categories col-md-2 col-sm-2 hidden-xs">
			<% @categories.each do |category| %>
				<div>
					<%= link_to category.name ,products_path(category_id: "#{category.id}"), class: "normal-link bold"  %>
				</div>
			<% end %>
		</div>




	<div class="product-items col-md-10  col-sm-10 col-xs-12">

		<h2 class="background width100"><span><%= @category_name %></span></h2>

		<% @products.each do |product| %>
			<div class="product-itme thumbnail ">
				<%= link_to product_path(product),class: "item-image" do %>
				<%= image_tag(product.photo.image.medium.url, alt: product.title, title: product.title) %>
				<% end %>	</br>
				<div class="product-item-info">
					<%= link_to product.title, product_path(product), class: "product-item-title" %>
<!-- 					<div class="product-item-description"><%= product.description.truncate(60) %></div>
 -->					
				<div class="gray2"><%= product.category.name %></div>
 				<div class="product-item-price"><span class="red bold"><%= "NT$#{product.price}" %></span></div>
 				<div class="center">
 					<%= link_to  "view", product_path(product), class: "normal-link" %> / 
 					<%= link_to add_to_cart_product_path(id: product.id, quantity: 1), method: "post" do %>
 						<i class="fa fa-shopping-cart green large"></i>
					<% end %>
 				</div>
				</div>
			</div>
		<% end %>
	</div>
	<div class=" clearfix"></div>
	</div>


</div>

</div>

<!-- 修正輪播圖寬高 -->
<%= render 'js/bootstrap_tab' %>
