<div class="products-page">



<!-- 輪撥 -->

<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>   
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner carousel-size">
        <div class="item active">
					<%= image_tag(@setting.carousel1, alt: "First slide", class: "carousel-img" ) %>
        </div>
        <div class="item">
					<%= image_tag(@setting.carousel2, alt: "Second slide", class: "carousel-img" ) %>
        </div>
        <div class="item">
					<%= image_tag(@setting.carousel3, alt: "Third slide", class: "carousel-img" ) %>
        </div>

    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel" 
        data-slide="prev">&lsaquo;
    </a>
    <a class="carousel-control right" href="#myCarousel" 
        data-slide="next">&rsaquo;
    </a>
</div>

<%= link_to "edit", edit_manager_setting_path(id: Setting.last.id)  %>

<!-- 輪撥測試 -->
		


	<div class="category">
		<%= link_to "所有商品 \\ All Product", "#" %> 
	</div>



	<div class="product-items">
		<% @products.each do |product| %>
			<div class="product-itme">
				<%= link_to product_path(product),class: "item-image" do %>
				<%= image_tag(product.photo.image.thumb.url, alt: product.title, title: product.title) %>
				<% end %>	</br>
				<div class="product-item-info">
					<%= link_to product.title, product_path(product), class: "product-item-title" %>
					<div class="product-item-description"><%= product.description.truncate(60) %></div>
					<div class="product-item-price"><em class="red"><%= "NT$#{product.price}" %></em></div>
				</div>
			</div>
		<% end %>
	</div>
	<div class=" clearfix"></div>

</div>

