<div class="products-page">


<%= render 'carousel' %>
<!-- 
	<div class="category">
		<%= link_to "所有商品 \\ All Product", "#" %> 
	</div>
 -->


 


	<div class="row">

		<div class="categories col-md-2 col-sm-2 hidden-xs">
			<% @categories.each do |category| %>
				<div>
					<%= link_to category.name ,products_path(category_id: "#{category.id}"), class: "normal-link bold"  %>
				</div>
			<% end %>
		</div>





	<div class="product-items col-md-10  col-sm-10 col-xs-12">

		<h2 class="background width100"><span><%= @category_name %></span></h2>

		<% @products.each do |product| %>
			<div class="product-itme thumbnail ">
				<%= link_to product_path(product),class: "item-image" do %>
				<%= image_tag(product.photo.image.medium.url, alt: product.title, title: product.title) %>
				<% end %>	</br>
				<div class="product-item-info">
					<%= link_to product.title, product_path(product), class: "product-item-title" %>
<!-- 					<div class="product-item-description"><%= product.description.truncate(60) %></div>
 -->					
				<div class="gray2"><%= product.category.name %></div>
 				<div class="product-item-price"><span class="red bold"><%= "NT$#{product.price}" %></span></div>
 				<div class="center">
 					<%= link_to  "view", product_path(product), class: "normal-link" %> / 
 					<%= link_to add_to_cart_product_path(id: product.id, quantity: 1), method: "post" do %>
 						<i class="fa fa-shopping-cart green large"></i>
					<% end %>
 				</div>
				</div>
			</div>
		<% end %>
	</div>
	<div class=" clearfix"></div>
	</div>


</div>

