<div class="products-page for-lg">

	<!-- 輪播 -->
	<div class="hidden-xs">
		<%= render 'carousel' %>
	</div>	

	<div class="visible-xs-block">
		<%= render 'phone_carousel' %>
	</div>


	<div class="hidden hidden-box"></div>

	
	<!-- 置頂文章 -->
	<%= render 'sticky' %>


	<div class="padding-rl-40 ">
	
		<!-- 資訊 -->
		<div class="mtd-small hidden-xs" >
			<h4 class="inline-block">資訊</h4>
			<%= render 'articles' %>
		</div>
	
		<div class="">
			<h5 class="inline-bloc pull-right hidden-xs"><%= link_to total_articles_products_path, class: "gray-link" do %>
				<span>看更多</span>
				<i class="fa fa-chevron-right" aria-hidden="true"></i>
			<% end %>
			</h5>		
		</div>
		<!-- end資訊 -->
	 
		<h4 class="inline-block">商城</h4>

		<!-- 置頂商品 -->
		<div class="marked_products flex hidden-xs">
			<% @marked_product.each do |product| %>
				<div class="marked_product center">
					<%= link_to product_path(product) do %>
						<%= image_tag(product.photo.image.medium.url, 
						alt: product.title, title: product.title, class: "") %>
						<h5 style="color:#505050;"><%= product.title %> $ <%= product.price %></h5>
					<% end %>
				</div>
			<% end %>	
		</div>			

		
		<div class="row">	
			<!-- category -->
			<div class="categories col-md-2 col-sm-2 hidden-xs">
				<div><%= link_to "所有產品", categories_path, class: "normal-link bold" %></div>
				<hr>
				<% @categories.each do |category| %>
					<div>
						<%= link_to category.name , category_path(category), class: "normal-link bold"  %>
						<hr>
					</div>
				<% end %>
			</div>

			<div class="product-items col-md-10  col-sm-10 col-xs-12">
				<h2 class="background width100"><span> 所有產品 </span></h2>
				<%= render 'categories/products' %>
				<!-- 如果有下一頁顯示載入更多按鈕 -->
				<div style="width: 100%;">
					<% if @products.next_page %>
						<%= render_ajax_more_button(@products) %>
					<% end %>	
				</div>
				<!-- 載入更多按鈕end -->
			</div>

			<div class=" clearfix"></div>
		</div>

	</div>
</div>

<!-- 修正輪播圖寬高 -->
<%= render 'js/bootstrap_tab' %>
