<div class="for-lg">
<div class="padding-rl-40">

	<div class="md row">
		<%= manager_link("編輯", edit_manager_product_path(@product), class: "center block m-link") %>

		<div class="col-md-12 col-xs-12 margin-td">
			<%= link_to "首頁", root_path, class: "black-link"  %>
			<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			<%= link_to @product.category.name, category_path(@product.category), class: "black-link"  %>
			<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			<%= @product.title %>
		</div>


		<!-- 產品圖 -->
		<div class="col-md-5 col-xs-12 margin-td border img-100 product-img">
			<%= image_tag(@product.photo.image.medium.url, alt: @product.title, title: @product.title) %>
		</div>

	
		<div class="col-md-7 col-xs-12">
			<!-- 商品名 -->
			<h3 class=""><%= @product.title %></h3>
			<span class="small red"><%= "單筆訂單滿#{@setting.shipping_free}免運" %></span class="small red">

			<!-- 簡述 -->


	

			<!-- 商品價格 -->
			<div class="product-price">
				<span id="product-price-nt" class="lighter"> NT$</span>
				<span id="product-price-number" class="lighter"><%= @product.price %></span>
			</div>


			<!-- 產地，資訊等等.. -->
			<div class="product-info row ">
				<div class="col-md-7">產地： <%= @product.origin %></div>
				<div class="col-md-5">保存期限： <%= @product.expiration_date %></div>
				<div class="col-md-7">重量： <%= @product.weight %></div>
				<div class="col-md-5">運費： 
					<%= "$#{@setting.shipping_cost}" %>
				</div>				


			</div>
			

			<!-- 數量與購物車 -->
			<div class="row cart_and_number">
				<% if @product.quantity == 0 %>
					<div class="padding-rl pull-left">
						<span class="button-disabled ">缺貨中</span>
					</div>
					
				<% else %>

					<!-- 加入購物車form -->
					<%= form_tag({ controller: "products", action: "add_to_cart"}, method: "post") do %>
						
						<div class="col-md-7 col-xs-5">
							<span class="black6">數量：</span>
							<div class="styled-select inline-block">
							  <%= select_tag(:quantity, options_for_select(product_quantity_range(@product))) %>
							</div>
						</div>

						<div class="col-md-5 col-xs-5 pull-right">
							<%= button_tag(type: "submit", class: "btn-normal xs-small") do %>
								<i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i>
								<span class=""> 加入購物車</span>
							<% end %>
						</div>

					<% end %>	
				<% end %>
			</div>
			<!-- 數量與購物車end -->
		</div>

		<!-- 商品訊息 -->
		<div class=" col-md-11 col-xs-12">
			<%= render 'product_tabs' %>
		</div>

<!-- 		<div class="col-md-3 col-md-offset-1 col-xs-12 border-m">
				<p class="bold">付款方式</p>
				<p>信用卡一次付清 / ATM / WebATM / 超商代碼繳費</p>
				<p class="bold">運送方式</p>
				<p>郵寄 / 宅配 (NTD100)</p>
		</div>
 -->
		<div class=" clearfix"></div>

		<%= manager_link("編輯", edit_manager_product_path(@product), class: "center block m-link mt") %>

	</div>
</div>

</div>