<%= render partial: 'article_content' %>


<div class="padding-rl-40 mt">
	<!-- 分頁 -->
	<%= paginate @articles %>

	<%= render 'articles' %>

	<!-- 分頁 -->
	<%= paginate @articles %>	
</div>

<!-- ajax載入文章 -->
<script>
	$('.load-article').on('click', function() {
		$.ajax({
			url: "<%= render_article_path(:json) %>",
			type: 'GET',
			datatype: "json",
			data: {id: $(this).data('articleid')},
			success: function(response) {
				var title = response['title']
				var description = response['description']
				$('#ajax-article-title').html(title);
				$('#ajax-article-description').html(description);
			},
			error: function() {
				$('#ajax-article-title').html('....');
				$('#ajax-article-description').html('文章載入失敗，請稍後重試');
			}
		});
	});
</script>
