<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-list">
				<i class="fa fa-th-list" aria-hidden="true"></i>
			</button>
			<%= link_to root_path, class: "navbar-brand" do %>	
				<%= image_tag("brand.jpg", class: "brand") %>
			<% end %>	
		</div>
			<div class="collapse navbar-collapse" id="nav-list">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<%= link_to carts_path do %>
							購物車 <i class="fa fa-shopping-cart"></i>( <%= render_cart_items_count(current_cart) %> )
						<% end %>	
					</li>
					<% if user_signed_in? %>
						<li><%= link_to "會員中心", "#" %></li>
						<li><%= link_to "登出", destroy_user_session_path, method: :delete %></li>
					<% else %>
						<li><%= link_to "登入", new_user_session_path %></li>	
					<% end %>	
				</ul>
			</div>
	</div>	
</nav>	