<div class="row">
<div class="col-md-8 col-md-offset-2  border mt md">

<h2>會員登入</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  %>
  </div>

  <div class="actions">
    <%= f.submit "註冊", class: "btn-normal margin-td" %>
  </div>
<% end %>

<span class="bold">已有帳號，</span>
<%= link_to "立刻登入", new_user_session_path  %>

</div>
</div>